---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      This
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
 -->

 <%= partial "layouts/cards" %>
